<div>
  <h1>Hello from Rails!</h1>
  <div>
    <% @articles.each do |article| %>
      <a href="/articles/<%= article.id %>">
        <h1><%= article.title %></h1>
      </a>
    <%end%>
  </div>
</div>