<div>
  <h1>Hello from Rails!</h1>
  <div>
    <% @articles.each do |article| %>
      <div>
        <h1><%= article.title %></h1>
        <h2><%= article.body %></h2>
      </div>
    <%end%>
  </div>
</div>